<!-- <div>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  Navbar brand
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
<links>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
    </li>
 </ul>
</links>
  </mdb-navbar>
  <app-tutorials></app-tutorials>
</div> -->
<div clas="row">
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/tutorials">Tutorials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tutorials/add">Add</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="row" style="margin-top: 120px;">
  <router-outlet></router-outlet>
</div>
